@using Project.Models
@model List<Wedding>

    @{
    ViewData["Title"] = "Weddings";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome to the Wedding Planner</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Wedding</th>
                <th scope="col">Date</th>
                <th scope="col">Guest</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{foreach (Wedding wedding in Model){
            <tr>
                <td><a href="/weddings/@wedding.WeddingId">@wedding.NameWedderOne & @wedding.NameWedderTwo</a></td>
                <td>@wedding.Day</td>
                <td>#count</td>
                <td>
                    @if(@wedding.Creator.UserId == ViewBag.CurrentUser.UserId)
                    {

                    <form action="/weddings/@wedding.WeddingId/destroy" method="post">
                        <button class="btn btn-secondary btn-sm">Delete</button>
                    </form>
                    }
                    else if(wedding.HasGuest(ViewBag.CurrentUser))
                    {
                    <form action="/weddings/@wedding.WeddingId/unrsvp" method="post">
                        <button class="btn btn-secondary btn-sm">Un RSVP</button>
                    </form>
                    }
                    else
                    {
                    <form action="/weddings/@wedding.WeddingId/rsvp" method="post">
                        <button class="btn btn-secondary btn-sm">RSVP</button>
                    </form>
                    }
                </td>
            </tr>
            }}
        </tbody>
    </table>


    <!-- Basic Links -->
    <a href="/weddings/new" class="btn btn-link">New Wedding</a>
    <a href="/logout">Log out</a>