@using Project.Models
@model List<Wedding>

    @{
    ViewData["Title"] = "Weddings";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome to the Wedding Planner</h1> 
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Wedding</th>
                <th scope="col">Date</th>
                <th scope="col">Guest</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{foreach (Wedding wedding in Model){
            <tr>
                <td>@wedding.NameWedderOne & @wedding.NameWedderTwo</td>
                <td>@wedding.Day</td>
                <td>#count</td>
                <td>#Action</td> 
            </tr>
            }}
        </tbody>
    </table>   


    <!-- Basic Links -->
    <a href="/weddings/new" class="btn btn-link">New Wedding</a>
    <a href="/">Log out</a>
    