@using Project.Models
@model Wedding

    @{
    ViewData["Title"] = "Wedding Details";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome to the Wedding Planner</h1>
    </div>
        <h3 class="display-4">@Model.NameWedderOne</h3>

<!-- Basic Links -->
<a href="/products">Home</a>
<a href="/products">Log out</a>
    