@using Project.Models
@model Wedding

    @{
    ViewData["Title"] = "Wedding Details";
    }

    <div class="text-center">
        <h1 class="display-4">@Model.NameWedderOne and @Model.NameWedderTwo's Wedding</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="font-weight-bold">Date: @Model.Day</div>
            <p>@Model.Address</p>
            <p>Guests:</p>


        </div>
    </div>

<!-- Basic Links -->
<a href="/products">Home</a>
<a href="/products">Log out</a>
    