@using Project.Models
@model CdActivity


@{
ViewData["Title"] = "Actvity Details";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
</div>
<div class="container">

    <h4 class="font-weight-bold">Event Coordinator: @Model.Creator.Name</h4>
    <p>Description:</p>
    <p>@Model.Description</p>
    <h4>Participants:</h4>
    @{foreach (Association guest in Model.Guests){
        <ul>
            <li>@guest.User.Name</li>
        </ul>
    }}
</div>

                    @if(Model.Creator.UserId == ViewBag.CurrentUser.UserId)
                    {
                    <form action="/cdactivities/@Model.CdActivityId/destroy" method="post">
                        <button class="btn btn-secondary btn-sm">Delete</button>
                    </form>
                    }
                    else if(Model.HasGuest(ViewBag.CurrentUser))
                    {
                    <form action="/cdactivities/@Model.CdActivityId/unrsvp" method="post">
                        <button class="btn btn-secondary btn-sm">Leave</button>
                    </form>
                    }
                    else
                    {
                    <form action="/cdactivities/@Model.CdActivityId/rsvp" method="post">
                        <button class="btn btn-secondary btn-sm">Join</button>
                    </form>
                    }

<!-- Basic Links -->
<a href="/cdactivities">Home</a>
<a href="/logout">Log out</a>

