/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Header */
.header-home{
  padding-right: 50px;
}

.hi{
  padding: 20px;
}

.create-idea{
  padding-bottom: 60px;;
}

.idea-list{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}



.footer-button{
  padding-top:50px;
  margin: 8px;
  color: green;
}
.detail-idea{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 20px;
  
}

.subtitle{
  padding-top: 80px;
  padding-bottom: 20px;
}

.likes-list{
  padding-top: 60px;
}

.post-details{
  padding-top: 40px;
}

.dark-button{
  margin-right:5px;
  margin-left: 5px;
}

.actions-container {
  padding-bottom: 40px;
}
