@model User
@using Project.Models

@{
ViewData["Title"] = "Home Page - Register";
}

<div class="text-center">
    <h1 class="display-4">Signup</h1>

</div>

<div class="container user">
    <div class="row">
        <div class="col-lg">
            <form asp-action="Create" asp-controller="Users" method="post">
                <!-- First Name -->
                <div class="form-group">
                    <span asp-validation-for="Name"></span>
                    <label asp-for="Name">Name:</label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Your Name">
                </div>
                <!-- Alias -->
                <div class="form-group">
                    <span asp-validation-for="Alias"></span>
                    <label asp-for="Alias">Alias:</label>
                    <input type="text" class="form-control" asp-for="Alias" placeholder="Alias">
                </div>
                <!-- Email -->
                <div class="form-group">
                    <span asp-validation-for="Email"></span>
                    <label asp-for="Email">Email:</label>
                    <input type="text" class="form-control" asp-for="Email" placeholder="Your Email">
                </div>
                <!-- Password -->
                <div class="form-group">
                    <span asp-validation-for="Password"></span>
                    <label asp-for="Password">Password:</label>
                    <input type="password" class="form-control" asp-for="Password">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Confirm"></span>
                    <label asp-for="Confirm">Confirm Password:</label>
                    <input type="password" class="form-control" asp-for="Confirm">
                </div>
                <!-- Submit -->
                <p>By clicking on Sign up, you agree to <a href="/users/login" class="btn btn-link">Carito's Terms and
                        Conditions of Use.</a></p>
                <button type="submit" class="btn btn-success btn-block">Submit</button>
                <p class="question">Already have an account?<a href="/login" class="btn btn-link">Login</a></p>
            </form>
        </div>
    </div>
</div>